<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="methods" name="Suite">
  <test thread-count="2" parallel="methods" name="Test">
    <classes>
      <class name="com.sonicjobs.apitest.ProdUkLogin"/>
      <class name="com.sonicjobs.apitest.ProdUsSearch"/>
      <class name="com.sonicjobs.apitest.ProdUsLogin"/>
      <class name="com.sonicjobs.apitest.ProdUkSearch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
